@import "../../../theme/colors";
@import "../../../theme/variables";

.header {
  width: 100vw;
  padding-left: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-yellow;
  height: $header-height;

  .back {
    margin-right: 2em;
    opacity: 0;
    pointer-events: none;

    transition: opacity 100ms linear;

    &.active {
      pointer-events: auto;
      opacity: 1;
    }
  }

  h1, h5 {
    margin: 0;
    flex: 1;
  }

  .main-logo {
    height: 100px;
  }
}
