input[type=text] {
  background-color: #F7F7F7;
  border: none;
  border-bottom: 1px solid #999999;
  padding-left: 1em;
  height: 40px;

  &:focus {
    border-bottom: 2px solid #999999;
  }
}

textarea:focus, input:focus{
  outline: none;
}
